// Name:            Fonts
// Description:     Component to import specific fonts
//
//
// ========================================================================

// Variables
// ========================================================================

/* ========================================================================
   Component: Fonts
 ========================================================================== */

/*
 * 1. set global fonts
 */

/* 1 */
.font-face() when (default()) {
  @font-face {
    font-family: var(--global-font-family-base);
    src: url('@f/karla/karla.woff2') format('woff2');
    font-style: normal;
    font-weight: 200 800;
  }

  @font-face {
    font-family: var(--global-font-family-base);
    src: url('@f/karla/karla-italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 200 800;
  }
}

.font-face();
