//
// Component: Spinner
//
// ========================================================================

// Variables
// ========================================================================

@spinner-size: var(--spinner-size);
@spinner-stroke-width: var(--spinner-stroke-width);
@spinner-radius: var(--spinner-radius);
@spinner-circumference: var(--spinner-circumference);
@spinner-duration: var(--spinner-duration);

// Miscellaneous
// ========================================================================

.hook-spinner-misc() {}
