// Import UIkit default theme (or uikit.less with only core styles)
// @import "node_modules/uikit/src/less/uikit.theme.less";

// import fonts: for ltr
@import 'default/fonts';

// import css variables
// must import at top after fonts
@import 'default/variables-css';

// import UIkit core
@import 'core.less';

// import custom themes
@import 'default/_import';


// must change in future
// change global colors for just theming
:root {
/*  --global-color: #5e6b86;
  --global-emphasis-color: #333;
  --global-muted-color: #c2c4c9;
  --global-white-color: #fdfdfd;
  --global-muted-background: #f0f4f7;
  --global-primary-background: #2785ff;
  --global-secondary-background: #161719;
  --global-success-background: #6fcf96;
  --global-warning-background: #fe754b;
  --global-danger-background: #f0506e;
  --global-border: #ecf0f6;*/
}
